@model GameStore.Models.OrderCartViewModel

@{
    ViewData["Title"] = "ShowPreviousOrder";
}

<body background="/images/landscape.png">

    <h2>Previous Order Information</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ReceiverFirstName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ReceiverFirstName)  @Html.DisplayFor(model => model.ReceiverLastname)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.OrderCreationDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OrderCreationDate)
            </dd>

            <hr />
            <h4>Games in Order</h4>
            @foreach (var cart in Model.Carts)
            {
                <dt>
                    @Html.DisplayNameFor(model => cart.GameTitle)
                </dt>
                <dd>
                    @Html.DisplayFor(model => cart.GameTitle)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => cart.UnitPrice)
                </dt>
                <dd>
                    @Html.DisplayFor(model => cart.UnitPrice)
                </dd>
            }
            <hr />

            <dt>
                @Html.DisplayNameFor(model => model.Total)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Total)
            </dd>
        </dl>
        <a asp-action="SendBackToStore"><p>Purchase Some New Games <span class="glyphicon glyphicon-dashboard"></span></p></a>
    </div>
</body>

